@import url('https://fonts.googleapis.com/css2?family=Cossette+Texte:wght@400;700&display=swap');
*{
    font-family: "Cossette Texte", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: 0.3s;
}

.navbar{
    width: 100vw;
    height: 10vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgb(18, 160, 225);
}
i{
    margin-right: 10px;
}
h1 ,a {
    text-transform: uppercase;
}
.navbar h1{
    color: rgb(255, 255, 255);
    
}
nav a{
    border: 1px solid white;
    text-decoration: none;
    border-radius: 10px;
    padding: 5px 30px;
    color: white;
    margin-left: 15px;
    transition: 0.3s ease-in-out;
}
nav a:hover{
    background-color: black;
}
.active{
    background-color: black;
}

.container{
    width: 100vw;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
form{
    width: 75vw;
    border: 1px solid gray;
    border-radius: 25px;
    padding: 20px;
    text-align: center;
}
.search{
    display: flex;
    justify-content: center;
    align-items: center;
}
form input{
    width: 50vw;
    height: 7vh;
}
.sub_btn{
    border: 1px solid black;
    color: rgb(2, 2, 2);
    font-size: 30px;
    border-radius: 0px 50% 50% 0px;
    width: 47px;
    height: 47px;
}
.sub_btn:hover{
background-color: rgb(18, 160, 225);
color: white;
}
