@import url('https://fonts.googleapis.com/css2?family=Cossette+Texte:wght@400;700&display=swap');
*{
    font-family: "Cossette Texte", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    padding: 0;
}

.navbar{
    width: 100vw;
    height: 10vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgb(39, 39, 39);
}
i{
    margin-right: 10px;
}
h1 ,a {
    text-transform: uppercase;
}
.navbar h1{
    color: rgb(255, 255, 255);
    
}
nav a{
    border: 1px solid white;
    text-decoration: none;
    border-radius: 10px;
    padding: 5px 30px;
    color: white;
    margin-left: 15px;
    transition: 0.3s ease-in-out;
}
nav a:hover{
    background-color: red;
}
.active{
    background-color: red;
}