<!--
  Search page template.

  This page should contain a form where users can search for books by:
  - Title
  - Author
  - Keyword

  The form should submit the user's search term to the search route.
-->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Search</title>
  <link rel="stylesheet" href="/css/style.css">
  <script src="https://kit.fontawesome.com/73117c85c2.js" crossorigin="anonymous"></script>
</head>
<body>

  <h1>Search for a Book</h1>

  <form action="/search/results" method="GET">
    <label for="bookSearch">Search for a book:</label>

    <input
      type="text"
      id="bookSearch"
      name="q"
      placeholder="Enter title, author, or ISBN"
      required
    />

    <button type="submit">Search</button>
  </form>

   <div class="navbar">
  <h1 ><i class="fa-solid fa-book-open-reader"></i>Book Tracker</h1>

  <nav>
    <a href="/"> <i class="fa-solid fa-house"></i>Home</a>
    <a href="/search" class="active"> <i class="fa-solid fa-magnifying-glass"></i>Search Books</a>
    <a href="/library"> <i class="fa-solid fa-book-open"></i>My Library</a>
    <a href="/stats" ><i class="fa-solid fa-chart-column"></i>Stats</a>
  </nav>

  </div>
</body>
</html>