<!--
  Stats page template.

  This page should display reading statistics calculated from MongoDB data.

  Possible stats include:
  - Total saved books
  - Number of To Read books
  - Number of Reading books
  - Number of Finished books
  - Average rating
-->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Stats</title>
</head>
<body>
  
</body>
</html>