<!--
  Stats page template.

  This page should display reading statistics calculated from MongoDB data.

  Possible stats include:
  - Total saved books
  - Number of To Read books
  - Number of Reading books
  - Number of Finished books
  - Average rating
-->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Stats</title>
  <link rel="stylesheet" href="/css/style.css">
  <script src="https://kit.fontawesome.com/73117c85c2.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="navbar">
  <h1 ><i class="fa-solid fa-book-open-reader"></i>Book Tracker</h1>

  <nav>
    <a href="/"> <i class="fa-solid fa-house"></i>Home</a>
    <a href="/search"> <i class="fa-solid fa-magnifying-glass"></i>Search Books</a>
    <a href="/library"> <i class="fa-solid fa-book-open"></i>My Library</a>
    <a href="/stats" class="active"><i class="fa-solid fa-chart-column"></i>Stats</a>
  </nav>

  </div>
</body>
</html>